.styles-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.styles-list-item {
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #c7a065;
  border-radius: 7px;
  background-color: #fff3e1;
}

.classic,
.modern,
.ethnic {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 3px;
  margin-left: 3px;
  background-size: contain;
  background-repeat: no-repeat;
}

.classic {
  background-image: url("/assets/chandelier.png");
}

.modern {
  background-image: url("/assets/light-bulb.png");
}

.ethnic {
  background-image: url("/assets/ethnic.png");
}

@media (min-width: 300px) {
  .styles-list-item {
    width: fit-content;
  }
}