body {
  background-color: #ffebcc;
  font-family: Roboto, sans-serif;
}

::-moz-selection {
  background-color: brown;
  color: white;
}

::selection {
  background-color: brown;
  color: white;
}

a {
  color: rgb(126, 76, 45);
}

a:visited {
  color: #472a1f;
}
