.style-page-main {
  grid-row: span 2;
}

.related-styles-list,
.sources-list {
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
  max-width: unset;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #c7a065;
  background-color: #fce0b5;
}

.list-icon {
  float: left;
  vertical-align: baseline;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-top: 12.5px;
}

.explanation {
  display: inline-block;
  margin-bottom: 5px;
  padding-left: 35px;
}

.related-styles, 
.sources {
  padding-left: 35px;
}