.style-page-main {
  grid-row: span 2;
}

.related-styles-list,
.sources-list {
  margin-top: 20px;
  max-width: calc(100% - 40px);
  padding: 15px;
  border-radius: 40px;
  background-color: #c7a065;
  color: #fdedd4;
}

.related-styles-list h2,
.sources-list h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #fdedd4;
}

.explanation {
  display: inline-block;
  padding-left: 20px;
}

.related-styles-list {
  width: 250px;
}

.sources-list {
  width: 350px;
}
