/* General */


body {
  width: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  background: url("/assets/bg.jpg");
  background-size: 100%;
}

#root {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto max(20vw, 150px) auto auto;
  grid-template-columns: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 270px;
  justify-content: center;
}

::-moz-selection {
  background-color: brown;
  color: white;
}

::selection {
  background-color: brown;
  color: white;
}

main,
.image-container,
header {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

/* Код класса visually-hidden взят с сайта Doka.guide */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main content */

.image-container {
  margin: 0;
  padding: 20px;
  height: max(20vw, 150px);
  width: 100%;
  background-image: url("/assets/main_img.png");
  background-size: cover;
  background-position: center;
}

main {
  margin-inline: auto;
  padding: 20px;
  width: 100%;
  background-color: #ffebcc;
}

.loading-page-main,
.not-found-page-main,
.copyright-main {
  grid-row: span 2;
}

p {
  width: 60%;
  max-width: 300px;
  padding: 20px;
  border-radius: 15px;
}

a {
  color: rgb(126, 76, 45);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer a {
  color: white;
}

a:visited {
  color: #472a1f;
}

p a:visited,
footer a:visited {
  color: #fdedd4;
}

.info {
  width: 100%;
  box-sizing: border-box;
  max-width: unset;
  border: 1px solid #c7a065;
  background-color: #fce0b5;
  color: #8b795b;
}

span#info-header,
span#related-styles-header,
h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* List of styles */

h2 {
  margin-block: 10px;
  color: #8b795b;
}

ol,
label {
  color: #72634b;
}

form {
  padding-left: 20px;
}

ol {
  margin-left: 30px;
}

li img {
  margin-bottom: -5px;
  margin-top: 5px;
  padding-left: 5px;
}

/* Footer */
footer {
  position: relative;
  width: 100%;
  min-height: 40px;
  margin-inline: auto;
  box-sizing: border-box;
  padding: 15px;
  background-color: #cdad7c;
  color: #fdedd4;
}

footer .footer-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 1em;
  margin-block: auto;
}

/* Media queries */

@media screen and (min-width: 576px) {
  #root {
    width: 80vw;
    margin: 0 auto;
  }

  .image-container,
  main,
  footer {
    width: 80vw;
    min-width: 500px;
  }
}