.styles-display-controller {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #c7a065;
  background-color: #fee6c2;
  color: #8b795b;
  border-radius: 10px;
  padding-block: 10px;
}

input[type="checkbox"] {
  display: none;
}

label {
  padding-left: 5px;
}

.checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fcdeb1;
  border: 1px solid rgb(232, 187, 105);
  border-radius: 3px;
  cursor: pointer;
}

input[type="checkbox"]:checked + .checkbox {
  background-image: url("/assets/task.png");
  background-size: 95%;
  background-position: center;
}

@media (min-width: 768px) {
  .styles-display-controller {
    flex-direction: row;
    gap: 7px;
  }
}
