input[type="checkbox"] {
  display: none;
}

label {
  padding-left: 5px;
}

.checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #d0ab73;
  border: 1px solid rgb(169, 102, 35);
}

input[type="checkbox"]:checked + .checkbox {
  background-image: url("/assets/task.png");
  background-size: cover;
}
