.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 20px;
}

figure {
  min-width: 125px;
  margin: 0;
  text-align: center;
}

figure img {
  cursor: zoom-in;
  border-radius: 10px;
}

figcaption span {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gallery-explanation {
  margin-left: 20px;
  margin-bottom:  15px;
}

@media screen and (min-width: 576px) {
  .source-of-image {
    font-size: .8em;
  }
}

@media screen and (max-width: 576px) {
  figure {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    width: 100%;
  }

  .gallery {
    margin-left: 0;
  }
}
